.rangePickerForm {
    width: 100%;
    flex-direction: column;

}

.multiSelectForm {
    width: 100%;
    flex-direction: column;
}
.multiSelect {
    width: 100%;
    /* height: fit-content; */
    min-width: 100px;

}
.rangePicker {
    width: 100%;
    min-width: 160px;

}


.flexContainer {
    justify-content: start;
    gap: 10px;
}